@use '../tools' as *;

.menu {

    &_order {
        order: 1;
    }

    &__list {
        display: flex;
        align-items: center;
        gap: rem(10);

        @include mobile {
            flex-direction: column;
            gap: rem(20);
        }
    }

    &__item {

        @include mobile {
            padding: rem(12) rem(18);
        }

        &_absolute {

            @include mobile {
                position: absolute;
                top: rem(85);
                left: 0;
            }
        }
    }
}