@use '../tools' as *;


// * Базовые стили для checkbox`ов
.checkbox {
    align-self: flex-start;
    display: flex;
    align-items: center;
    gap: rem(5);
}

._checkbox-real {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;

    &:checked+._checkbox-custom::before {
        scale: 1;
    }

    &:focus+._checkbox-custom {
        box-shadow: 0px 0px 0px rem(1) #2F2F51, 0px 0px rem(10) #2F2F51;
    }
}

._checkbox-custom {
    @include square(rem(22));

    display: inline-block;
    position: relative;
    background: var(--color-grey-70);
    border: rem(2) solid var(--color-grey-60);
    border-radius: rem(4);

    &::before {
        @include abs-center;

        scale: 0;
        content: '';
        display: inline-block;
        width: rem(20);
        height: rem(20);
        background: url(../img/check.svg);
        transition: scale 0.3s ease 0s;
    }
}